Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2024-11, with the labels that each got.

#31 Update azure-monitor-agent-mma-removal-tool.md
  articles/azure-monitor/agents/azure-monitor-agent-mma-removal-tool.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, agents/subsvc

#28 Clarify VM Insights support with Azure Monitor Agent in Entra ID authentication documentation
  articles/azure-monitor/logs/azure-ad-authentication-logs.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#33 [spelling] Update prometheus-api-promql.md
  articles/azure-monitor/essentials/prometheus-api-promql.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, essentials/subsvc

#32 Update impacted-resources-planned-maintenance.md
  articles/service-health/impacted-resources-planned-maintenance.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-service-health/svc

#36 Fix Image of Service Health blade .md
  articles/service-health/resource-health-alert-monitor-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-service-health/svc

#37 Fix typo in AddApplicationInsightsTelemetryWorkerService
  articles/azure-monitor/app/worker-service.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#26 Update opentelemetry-add-modify.md
  articles/azure-monitor/app/opentelemetry-add-modify.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#41 Update alerts-processing-rules.md
  articles/azure-monitor/alerts/alerts-processing-rules.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, alerts/subsvc

#46 APPINSIGHTS_INSTRUMENTATIONKEY is deprecated
  articles/azure-monitor/profiler/media/profiler-aspnetcore-linux/add-connection-string-setting.png
  articles/azure-monitor/profiler/media/profiler-aspnetcore-linux/add-ikey-settings.png
  articles/azure-monitor/profiler/media/profiler-aspnetcore-linux/new-setting-configuration.png
  articles/azure-monitor/profiler/media/profiler-azure-functions/app-insights-key.png
  articles/azure-monitor/profiler/media/profiler-azure-functions/configuration-menu.png
  articles/azure-monitor/profiler/profiler-aspnetcore-linux.md
  articles/azure-monitor/profiler/profiler-azure-functions.md
  articles/azure-monitor/profiler/profiler.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, azure-monitor/svc, profiler/subsvc

#49 Update code-optimizations-vs-extension.md
  articles/azure-monitor/insights/code-optimizations-vs-extension.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, optimization-insights/subsvc

#25 Update data-ingestion-time.md
  articles/azure-monitor/logs/data-ingestion-time.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc
