Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2024-09, with the labels that each got.

#1 test - Update advisor-alerts-arm.md
  articles/advisor/advisor-alerts-arm.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-advisor/svc

#4 Update azure-web-apps.md
  articles/azure-monitor/app/azure-web-apps.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#5 Update azure-monitor-agent-data-collection.md
  articles/azure-monitor/agents/azure-monitor-agent-data-collection.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, agents/subsvc

#6 Change Spain Central row location to Europe
  articles/azure-monitor/logs/availability-zones.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#8 fix: Missing quote in cross-workspace-query.md
  articles/azure-monitor/logs/cross-workspace-query.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#9 Updating NodeJS snippet to create an exception telemetry item
  articles/azure-monitor/app/opentelemetry-add-modify.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#10 Update Link to Unsupported Properties Documentation
  articles/azure-monitor/app/opentelemetry-nodejs-migrate.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#2 Update azure-monitor-agent-requirements.md
  articles/azure-monitor/agents/azure-monitor-agent-requirements.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, agents/subsvc

#13 Adding two new Advisor recs for FrontDoor
  articles/advisor/advisor-reference-operational-excellence-recommendations.md
  articles/advisor/advisor-reference-performance-recommendations.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-advisor/svc, Change sent to author
