Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-04, with the labels that each got.

#125 Update availability.md
  articles/azure-monitor/app/availability.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#120 Update alerts-manage-alert-instances.md
  articles/azure-monitor/alerts/alerts-manage-alert-instances.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, alerts/subsvc

#62 Update daily-cap.md
  articles/azure-monitor/logs/daily-cap.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#128 Update managed-workspaces.md
  articles/azure-monitor/app/managed-workspaces.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#129 Adding log level config information
  articles/azure-monitor/app/nodejs.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#102 Update prometheus-istio-integration.md
  articles/azure-monitor/containers/prometheus-istio-integration.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#126 Update remote write release version : 20250326.1
  articles/azure-monitor/containers/includes/prometheus-remotewrite-image-version.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-monitor/svc, containers/subsvc

#96 Update container-insights-gpu-monitoring.md
  articles/azure-monitor/containers/container-insights-gpu-monitoring.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#97 Update kubernetes-monitoring-enable.md
  articles/azure-monitor/containers/kubernetes-monitoring-enable.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#131 Remove extra bullet point
  articles/azure-monitor/logs/private-link-configure.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#130 Update alerts-logic-apps.md
  articles/azure-monitor/alerts/alerts-logic-apps.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, alerts/subsvc

#132 Update managed-workspaces.md
  articles/azure-monitor/app/managed-workspaces.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#135 Add additional benefit to migrating to new ingestion API
  articles/azure-monitor/logs/custom-logs-migrate.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#133 Update prometheus-kafka-integration.md
  articles/azure-monitor/containers/prometheus-kafka-integration.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#138 Update advisor-how-to-use-service-upgrade-retirement-recommendations.md
  articles/advisor/advisor-how-to-use-service-upgrade-retirement-recommendations.md
Labels: aq-pr-triaged, do-not-merge, azure-advisor/svc, Change sent to author

#109 Update azure-monitor-agent-supported-operating-systems.md
  articles/azure-monitor/agents/azure-monitor-agent-supported-operating-systems.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, agents/subsvc
