Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-05, with the labels that each got.

#146 correct package name for removal
  articles/azure-monitor/app/opentelemetry-dotnet-migrate.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#145 Adding how to update table retention using an ARM template
  articles/azure-monitor/logs/data-retention-configure.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#149 Update resource-health-checks-resource-types.md
  articles/service-health/resource-health-checks-resource-types.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-service-health/svc

#157 Adding tags limitation
  articles/azure-monitor/app/managed-workspaces.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#161 Fix indentation in code snippet in ilogger.md
  articles/azure-monitor/app/ilogger.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#159 use correct variable name in snippet
  articles/azure-monitor/app/opentelemetry-configuration.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#139 Update section on testing Common Schema alert payloads with actual test alerts from Azure Action Groups
  articles/azure-monitor/alerts/alerts-payload-samples.md
  articles/azure-monitor/alerts/media/alerts-payload-samples/test-action-group-alert-types.png
Labels: aq-pr-triaged, inactive, do-not-merge, needs-human-review, Change sent to author, azure-monitor/svc, alerts/subsvc

#142 Update diagnostic-settings.md
  articles/azure-monitor/platform/diagnostic-settings.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, platform/subsvc

#143 Update metrics-usage-insights.md
  articles/azure-monitor/metrics/metrics-usage-insights.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, metrics/subsvc
