Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-06, with the labels that each got.

#165 Adding clarity for OTLP support for Java agent
  articles/azure-monitor/app/opentelemetry-configuration.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#148 Metrics Export is removing the deprecated Media Services RP
  articles/azure-monitor/data-collection/data-collection-metrics.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-monitor/svc, data-collection/subsvc

#163 Added App Gateway tables to the list
  articles/azure-monitor/logs/tables-feature-support.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#152 Update azfwfatflow.md
  articles/azure-monitor/reference/tables/azfwfatflow.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#169 Update app-map.md
  articles/azure-monitor/app/app-map.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#164 Fix image reference
  articles/azure-monitor/alerts/alerts-payload-samples.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-monitor/svc, alerts/subsvc

#121 Update vminsights-enable.md
  articles/azure-monitor/vm/vminsights-enable.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-monitor/svc, virtual-machines/subsvc

#117 Update container-insights-gpu-monitoring.md
  articles/azure-monitor/containers/container-insights-gpu-monitoring.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#124 Update data-collection-iis.md
  articles/azure-monitor/vm/data-collection-iis.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, virtual-machines/subsvc
