Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-01, with the labels that each got.

#66 Update workbooks-bring-your-own-storage.md
  articles/azure-monitor/visualize/workbooks-bring-your-own-storage.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, visualizations/subsvc

#79 Update availability.md
  articles/azure-monitor/app/availability.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#77 fix: Fix links to Log Analytics built-in roles
  articles/azure-monitor/logs/manage-access.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#76 Fixed typos in logs-dedicated-clusters.md
  articles/azure-monitor/logs/logs-dedicated-clusters.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#24 Add release notes section for remote write
  articles/azure-monitor/containers/prometheus-remote-write.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#63 Update container-insights-data-collection-configure.md
  articles/azure-monitor/containers/container-insights-data-collection-configure.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#14 Update monitor-virtual-machine-analyze.md
  articles/azure-monitor/vm/monitor-virtual-machine-analyze.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, virtual-machines/subsvc

#84 Update advisor-reference-performance-recommendations.md (Typo "flexib…
  articles/advisor/advisor-reference-performance-recommendations.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-advisor/svc, Change sent to author

#52 Update kubernetes-monitoring-private-link.md
  articles/azure-monitor/containers/kubernetes-monitoring-private-link.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc
