Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-03, with the labels that each got.

#103 Adding clarity for classic App Insights SDK API instructions
  articles/azure-monitor/app/azure-ad-authentication.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#105 Update advisor-reference-operational-excellence-recommendations.md (…
  articles/advisor/advisor-reference-operational-excellence-recommendations.md
Labels: ready-to-merge, azure-advisor/svc, Change sent to author

#115 Update the link to Microsoft.Extensions.DependencyInjection in ilogger.md
  articles/azure-monitor/app/ilogger.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#95 Update kubernetes-monitoring-enable.md
  articles/azure-monitor/containers/kubernetes-monitoring-enable.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#114 Update container-insights-reports.md
  articles/azure-monitor/containers/container-insights-reports.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-monitor/svc, containers/subsvc

#119 Update javascript-framework-extensions.md
  articles/azure-monitor/app/javascript-framework-extensions.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#107 Exclude aarch64 from AMA custom log support
  articles/azure-monitor/vm/data-collection-log-text.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-monitor/svc, virtual-machines/subsvc
