Repository MicrosoftDocs/azure-monitor-docs, pull requests merged in 2025-08, with the labels that each got.

#187 Update customer-managed-keys.md - CapacityReservationLevel error
  articles/azure-monitor/logs/customer-managed-keys.md
Labels: ready-to-merge, Change sent to author, azure-monitor/svc, logs/subsvc

#182 azure-monitor-agent-windows-client.md - Added role assignment validation, support securestring token
  articles/azure-monitor/agents/azure-monitor-agent-windows-client.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-monitor/svc, agents/subsvc

#194 Update chaos-studio-tutorial-aks-cli.md
  articles/chaos-studio/chaos-studio-tutorial-aks-cli.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-chaos-studio/svc

#176 Update troubleshooter-ama-linux.md to note public endpoint prereq
  articles/azure-monitor/agents/troubleshooter-ama-linux.md
Labels: aq-pr-triaged, inactive, ready-to-merge, review-team-triage
